<ul class="timeline">
    <li class="timeline-node">
        <a class="btn btn-palegreen">NOW</a>
    </li>
    <li>
        <div class="timeline-datetime">
            <span class="timeline-time">
                11:20
            </span><span class="timeline-date">Today</span>
        </div>
        <div class="timeline-badge blue">
            <i class="fa fa-tag"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-header bordered-bottom bordered-blue">
                <p class="timeline-datetime">
                    <small class="text-muted">
                        <i class="glyphicon glyphicon-time">
                        </i>
                        <span class="timeline-date">Today</span>
                        -
                        <span class="timeline-time">11:20</span>
                    </small>
                </p>
            </div>
            <div class="timeline-body">
                <a href=#>ankittharwani</a> added and commented on a R snippet
                <img src="assets/img/code_share.png" alt="" style="max-height: 158px;max-width: 100%;">
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-datetime">
            <span class="timeline-time">
                3:09
            </span><span class="timeline-date">Yesterday</span>
        </div>
        <div class="timeline-badge">
            <i class="fa fa-picture-o darkpink"></i>
        </div>
        <div class="timeline-panel">
            <div class="timeline-header bordered-bottom bordered-blue">
                <p class="timeline-datetime">
                    <small class="text-muted">
                        <i class="glyphicon glyphicon-time">
                        </i>
                        <span class="timeline-date">Yesterday</span>
                        -
                        <span class="timeline-time">3:09</span>
                    </small>
                </p>
            </div>
            <div class="timeline-body">
                <a href="#">will.monge</a> shared an image
                <div class="tl-wide text-center" style="padding: 5px; margin-top:10px; margin-bottom: 10px;">
                    <img src="assets/img/temp1.png" alt="" style="max-height: 158px;max-width: 100%;">
                </div>
            </div>
        </div>
    </li>
    <li class="timeline-node">
        <a class="btn btn-info">11 DECEMBER</a>
    </li>
</ul>
