<ul class="timeline">
    <li class="timeline-node">
        <a class="btn btn-palegreen">NOW</a>
    </li>
    <li>
        <div class="timeline-datetime">
            <span class="timeline-time">
                17:46
            </span><span class="timeline-date">15 December</span>
        </div>
        <div class="timeline-badge blue">
            <i class="fa fa-thumbs-up"></i>
        </div>
        <div class="timeline-panel bordered-top-3 bordered-blue">
            <div class="timeline-header bordered-bottom bordered-blue">
                <span class="timeline-title">
                  ankittharwani:
                </span>
                <p class="timeline-datetime">
                    <small class="text-muted">
                        <i class="glyphicon glyphicon-time">
                        </i>
                        <span class="timeline-date">15 December</span>
                        -
                        <span class="timeline-time">17:46</span>
                    </small>
                </p>
            </div>
            <div class="timeline-body">
                <p>new message now</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-datetime">
            <span class="timeline-time">
                17:49
            </span><span class="timeline-date">15 December</span>
        </div>
        <div class="timeline-badge darkorange">
            <i class="fa fa-thumbs-up blue"></i>
        </div>
        <div class="timeline-panel bordered-top-3 bordered-blue">
            <div class="timeline-header bordered-bottom bordered-blue">
                <span class="timeline-title">
                  will.monge:
                </span>
                <p class="timeline-datetime">
                    <small class="text-muted">
                        <i class="glyphicon glyphicon-time">
                        </i>
                        <span class="timeline-date">15 December</span>
                        -
                        <span class="timeline-time">17:49</span>
                    </small>
                </p>
            </div>
            <div class="timeline-body">
                <p>sorry, too late</p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-datetime">
            <span class="timeline-time">
                17:51
            </span><span class="timeline-date">15 December</span>
        </div>
        <div class="timeline-badge blue">
            <i class="fa fa-info"></i>
        </div>
        <div class="timeline-panel bordered-top-3 bordered-azure">
            <div class="timeline-header bordered-bottom bordered-blue">
                <span class="timeline-title">
                  annalaissaj:
                </span>
                <p class="timeline-datetime">
                    <small class="text-muted">
                        <i class="glyphicon glyphicon-time">
                        </i>
                        <span class="timeline-date">15 December</span>
                        -
                        <span class="timeline-time">17:51</span>
                    </small>
                </p>
            </div>
            <div class="timeline-body">
                <p>joined #general</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-datetime">
            <span class="timeline-time">
                17:55
            </span><span class="timeline-date">15 December</span>
        </div>
        <div class="timeline-badge darkorange">
            <i class="fa fa-thumbs-down red"></i>
        </div>
        <div class="timeline-panel bordered-top-3 bordered-red">
            <div class="timeline-header bordered-bottom bordered-blue">
                <span class="timeline-title">
                  will.monge:
                </span>
                <p class="timeline-datetime">
                    <small class="text-muted">
                        <i class="glyphicon glyphicon-time">
                        </i>
                        <span class="timeline-date">15 December</span>
                        -
                        <span class="timeline-time">17:55</span>
                    </small>
                </p>
            </div>
            <div class="timeline-body">
                <p>kafka-spark integration is painful... :disappointed:</p>
            </div>
        </div>
    </li>
    <li>
        <div class="timeline-datetime">
            <span class="timeline-time">
                17:56
            </span><span class="timeline-date">15 December</span>
        </div>
        <div class="timeline-badge blue">
            <i class="fa fa-thumbs-up"></i>
        </div>
        <div class="timeline-panel bordered-top-3 bordered-azure">
            <div class="timeline-header bordered-bottom bordered-blue">
                <span class="timeline-title">
                  annalaissaj:
                </span>
                <p class="timeline-datetime">
                    <small class="text-muted">
                        <i class="glyphicon glyphicon-time">
                        </i>
                        <span class="timeline-date">15 December</span>
                        -
                        <span class="timeline-time">17:56</span>
                    </small>
                </p>
            </div>
            <div class="timeline-body">
                <p>where are you stuck?</p>
            </div>
        </div>
    </li>
    <li class="timeline-inverted">
        <div class="timeline-datetime">
            <span class="timeline-time">
                17:58
            </span><span class="timeline-date">15 December</span>
        </div>
        <div class="timeline-badge darkorange">
            <i class="fa fa-thumbs-up green"></i>
        </div>
        <div class="timeline-panel bordered-top-3 bordered-green">
            <div class="timeline-header bordered-bottom bordered-blue">
                <span class="timeline-title">
                  ankittharwani:
                </span>
                <p class="timeline-datetime">
                    <small class="text-muted">
                        <i class="glyphicon glyphicon-time">
                        </i>
                        <span class="timeline-date">15 December</span>
                        -
                        <span class="timeline-time">17:58</span>
                    </small>
                </p>
            </div>
            <div class="timeline-body">
                <p>atleast the webhook-flume bit is running now... :smile:</p>
            </div>
        </div>
    </li>
    <li class="timeline-node">
        <a class="btn btn-info">14 DECEMBER</a>
    </li>
</ul>
