    <!-- Page Sidebar Header-->
<div class="sidebar-header-wrapper">
    <input type="text" class="searchinput" />
    <i class="searchicon fa fa-search"></i>
    <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
</div>
<!-- /Page Sidebar Header -->
<!-- Sidebar Menu -->
<ul class="nav sidebar-menu">
    <!--Dashboard-->
    <li ui-sref-active="active">
        <a ui-sref="app.dashboard">
            <i class="menu-icon glyphicon glyphicon-home"></i>
            <span class="menu-text"> Dashboard </span>
        </a>
    </li>
    <li>
        <a href="#" class="menu-dropdown">
            <i class="menu-icon fa fa-hashtag"></i>
            <span class="menu-text"> RSVP </span>
            <i class="menu-expand"></i>
        </a>
        <ul class="submenu">
            <li ui-sref-active="active">
                <a ui-sref="app.databoxes">
                    <span class="menu-text"> RSVP Analysis </span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.impmsgs">
                    <span class="menu-text"> Location Analysis </span>
                </a>
            </li>
        </ul>
    </li>
    <!--Databoxes-->
</ul>
<!-- /Sidebar Menu -->
